<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ .Title }} - {{ .Site.Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="keywords" content="">
  <link rel="canonical" href="{{ .Permalink }}">

  <!-- Custom CSS  -->
  <link rel="stylesheet" type="text/css" href="/css/basscss.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/pygments.css">

  <!-- theme highlight => does not seem to work for Rust -->
  <!-- <link rel="stylesheet" type="text/css" href="/css/highlight/styles/railscasts.css"> -->

  <!-- highlight.js => does not seem to work  -->
  <!--
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/default.min.css">
      <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
      <script>hljs.initHighlightingOnLoad();</script>
  -->

  <!-- Fonts -->
  <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic&subset=latin,cyrillic-ext,cyrillic'>
  <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Lato:900,300'>

  <!-- minified version of the css above -->
  <!-- <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/combined-min.css"> -->

</head>
<body class="">
